$bg-color: #222;
$dark-grey: #333;
$light-grey: #444;
$text-color: #fefefe;
$active-color: #1b6cb8;
$gold-color: #ffd700;
$silver-color: #c0c0c0;
$bronze-color: #ac7002;

$large: 1024px;
$medium: 720px;
$small: 480px;
$tiny: 320px;