@import "./vars.scss";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: $bg-color;
	color: $text-color;
	font-family: 'Rubik', sans-serif;
	font-size: 16px;
	font-weight: 300;
}

.container {
	width: 1140px;
	margin: 0 auto;
}

.header {
	padding: 30px 0;
}

.header__title {
	font-size: 36px;
	font-weight: 700;
	line-height: 1.1;
}

.main {
	padding-bottom: 50px;
}

.table {
	width: 100%;
	text-align: center;

	td,
	th {
		padding: 10px;
		vertical-align: middle;
	}

	th {
		position: sticky;
		top:-1px;
		background-color: $light-grey;
		transition: background-color .2s;
	}

	th.active {
		background-color: $active-color;
	}

	th[data-column]:hover {
		background-color: $active-color;
	}

	th[data-column]:not(.active) {
		cursor: pointer;
	}

	tr {
		border-top: 1px solid $text-color;

		&:last-of-type {
			border-bottom: 1px solid $text-color;
		}
	}
}

.table__body {
	tr {
		transition: all .2s;
	}

	tr:hover {
		background-color: $bg-color;
	}

	tr:nth-child(1) {
		background-color: $gold-color;
		color: $bg-color;
	}

	tr:nth-child(2) {
		background-color: $silver-color;
		color: $bg-color;
	}

	tr:nth-child(3) {
		background-color: $bronze-color;
		color: $bg-color;    
	}

	tr:nth-child(n + 4):hover {
		background-color: $light-grey;
	}

	tr:nth-child(2n + 4) {
		background-color: $dark-grey;
	}
}

.participant {
	display: flex;
	flex-direction: column;
	gap: 5px;
	list-style-type: none;
	text-align: left;
}

@media (max-width: $large) {
	.container {
		width: $medium;
	}
}

@media (max-width: $medium) {
	.container {
		width: $small;
		overflow-x: auto;
	}

	.header__title {
		font-size: 22px;
	}

	.participant li {
		white-space: nowrap;
	}
}

@media (max-width: $small) {
	body {
		font-size: 12px;
	}

	.container {
		width: $tiny
	}
}

@media (max-width: $tiny) {
	.container {
		width: calc($tiny - 40px);
	}
}
